[core]
  excludesfile = /Users/billy.whited/.gitignore
  editor = vim
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
[user]
  name = rocketspops
  email = rocketspops@gmail.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = opendiff
