 body { 
    height: 100%;
    color:;
    display: "a.b.c"  /2em
             "....."  /1em
             "d.e.f"
             "....."  /1em
             "g.h.i"  /2em
             5em 1em  *  1em 10em; }

#logo {position: a;}
#motto {position: b;}
#date {position: c;}
#main {position: e;}
#adv {position: f;}
#copy {position: g;}
#about {position: h; display: minmax(a,k); }
body { display: "aaa"
                "bcd"; }
body::slot(b) { background: #FF0; }
body::slot(c), body::slot(d) { vertical-align: bottom; }

form {
  border: thin solid;
  display: "aaaa.bbbb"
           "........."/1em
           "cccc.dddd"
           "........."/1em
           "...ee..ff"; }
label[for=minv] { position: a; }
input#minv { position: b; display: block; }
label[for=maxv] { position: c; }
input#maxv { position: d; display: block; }
input[type=submit] { position: e; display: block; }
input[type=reset] { position: f; display: block; }

body {
     display: "a   b"
              10em *;
}
#nav {
     position: a;
}
#content {
     position: b;
     display: "c   .   d   .   e   "
              ".   .   .   .   .   "/1em
              ".   .   f   .   .   "
               *  1em  *  1em  *;
}
.module.news {
     position: c;
}
.module.sports {
     position: d;
}
.module.personal {
     position: e;
}
#foot {
     position: f;
}

@page :first { display: "abc" "def"; }
@page { display: "def"; }

body {position: e; }
h1 {position: b; }

@page { display: "@"; }

div.slide {
  height: 100vh; 
  display: "a"/5em "@" "b"/intrinsic;
  page-break-before: always;
}

h1 {position: a;}
p.note {position: b;}

@page { display: "a@"; }
:lang(fr) {position: a;}
div.special {display: "abc" "abd";}


@page :first {
  display: "A  A  A  A  A  A  A  A  A" / 5cm
           ".  .  .  .  .  .  .  .  ." / 0.25cm
           "B  .  C  C  C  C  C  C  C" / *
           "B  .  C  C  C  C  C  C  C" / *
           "B  .  C  C  C  C  C  C  C" / *
           "B  .  C  C  C  C  C  C  C" / *
           "B  .  C  C  C  C  C  C  C" / *
           "B  .  D  D  D  D  D  D  D" / *
           "B  .  D  D  D  D  D  D  D" / *
           "B  .  E  E  E  .  F  F  F" / *
           "B  .  E  E  E  .  F  F  F" / *
           "B  .  E  E  E  .  F  F  F" / *
            * 3em * 3em * 3em * 3em *;
}

h1 {
  position: a; 
  border-bottom: thick; 
  margin-bottom: 1.5em;
}

#toc {
  position: b; 
  margin-right: -1.5em; 
  border-right: thin;
  padding-right: 1.5em;
}

#leader {position: c; columns: 4; column-gap: 3em; }
#art1 {position: d; columns: 4; column-gap: 3em; border-top: thin;}
#art2 {position: e; columns: 2; column-gap: 3em;}
#art3 {position: f; columns: 2; column-gap: 3em;}

body { display: "a.b"
                ".c."
                "d.e";
       height: 240px;
       width: 240px; }
::slot(a) { background: #0C0;}
::slot(b) { background: #C00; }
::slot(d) { background: #00C; }
::slot(e) { background: #A0A; }
#c { background: #FD0; height: 120px; position: c;
     margin: -20px; z-index: 1; }


div {
  display: "abc"
           "def";
  position: relative; }

p { position: f; }

#p1 {
  position: absolute;
  top: 1gr;
  left: 2gr; }
     
