.♥ 
.𝄞♪♩♫♬
.“‘’”
.\?
.\3A \)
.⌘⌥ 
.\3A \`\(
.\ \37 \35 145a2b3 { }
.f\\o\\o
.f\*o\*o
.\ f\!o\!o
.df
.f\+o\+o{ }
.\<\>\<\<\<\>\>\<\>{ }
.\<p\>{ }
.honey-pie .gffgf { }
.\+\+\+\+\+\+\+\+\+\+\[\>\+\+\+\+\+\+\+\>\+\+\+\+\+\+\+\+\+\+\>\+\+\+\>\+\<\<\<\<\-\]\>\+\+\.\>\+\.\+\+\+\+\+\+\+\.\.\+\+\+\.\>\+\+\.\<\<\+\+\+\+\+\+\+\+\+\+\+\+\+\+\+\.\>\.\+\+\+\.\-\-\-\-\-\-\.\-\-\-\-\-\-\-\-\.\>\+\.\>\. { }
#ff {}

#f:ff_ff\3\31 1.3 {}

/* Pseudo */
a:focus
a:focus:hover {}
a:link    
a:visited 
a:hover   
a:active  
p.note:target {}
*:target { color : red; }
*:target::before { content: url(target.png); }
html:lang(fr-be)
html:lang(de)
:lang(fr-be) > q
:lang(de) > q
tr:nth-child(2n+1) 
tr:nth-child(odd)  
tr:nth-child(2n+0) 
tr:nth-child(even) 
p:nth-child(4n+1) 
p:nth-child(4n+2) 
p:nth-child(4n+3) 
p:nth-child(4n+4) 
:nth-child(10n-1)  
:nth-child(10n+9)  
:nth-child(3n + 1)
:nth-child(3 n)
:nth-child(-n+6)
:nth-child( +6 )
tr:nth-last-child(-n+2)  
tr:nth-last-child(odd)    
body > h2:nth-of-type(n+2):nth-last-of-type(n+2)
body > h2:not(input[type="frank"]):not(:last-of-type)
   
/* Attr */ 
div p *[type="href"]

/* Calc */
p{ margin: calc(1 - 2px) calc(1rem - 1px); }

/* Fonts */ 
p { font: 12pt/14pt sans-serif; }
p { font: 80% sans-serif; }
p { font: x-large/110% "new century schoolbook", serif; }
p { font: bold italic large Palatino, serif; }
p { /**/ font: /**/ ; }
p { 
  font: oblique 12pt "Helvetica Neue", serif; 
  font-stretch: condensed;
}

/* Universal and Namespace Selectors */
foo|h1 
foo|* 
|h1 
*|h1 
h1
ns|*
*|*
|*
*

/* @Media */
@media (orientation: portrait) { … }
@media all and (orientation: portrait) { … }
@media all { … }
@media { … }
@media all { body { background:lime; } }  
@media screen and (color), projection and (color) { … }
@media all and (color) { … }
@media screen and (device-aspect-ratio: 16/9) { … }
@media screen and (device-aspect-ratio: 32/18) { … }
@media screen and (device-aspect-ratio: 1280/720) { … }
@media screen and (device-aspect-ratio: 2560/1440) { … }
@media all and (min-color: 2) { … }
@media all and (color-index) { … }
@media all and (min-color-index: 1) { … }
@media tv and (scan: progressive) { … }
@media tv and (resolution:12dppx) { … }
/* 
 
 */ @media handheld and (grid) and (max-width: 15em) { … }

@counter-style {  }

@counter-style triangle {
	type: repeating;
	glyphs: '▶';
	suffix: '';
}

@counter-style trinary {
	type: numeric;
	glyphs: '0' '1' '2';
}

@counter-style go {
	type: alphabetic;
	glyphs: url(white.svg) url(black.svg);
	suffix: '';
}

@counter-style fixed-decimal {
	type: alphabetic;
	glyphs: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' /* */;
}

@counter-style unary {
	type: symbolic;
	glyphs: '|';
}

@counter-style box-corner {
	type: non-repeating;
	glyphs: '◰' '◳' '◲' '◱';
	suffix: ':';
}

@counter-style dice {
	type: additive;
	additive-glyphs: 6 '⚅', 5 '⚄', 4 '⚃', 3 '⚂', 2 '⚁', 1 '⚀';
	suffix: '';
}

@counter-style box {
	type: repeating;
	glyphs: '\25FD';
	/* '◽' */
	suffix: '';
}

@counter-style check {
	type: repeating;
	glyphs: '\2713';
	/* '✓' */
	suffix: '';
}

@counter-style circle {
	type: repeating;
	glyphs: '\25E6';
	/* '◦' */
	suffix: '';
}

@counter-style diamond {
	type: repeating;
	glyphs: '\25C6';
	/* '◆' */
	suffix: '';
}

@counter-style disc {
	type: repeating;
	glyphs: '\2022';
	/* '•' */
	suffix: '';
}

/*
 
 */ @counter-style dash {
	type: repeating;
	glyphs: '\2014';
	/* '—' */
	suffix: '';
}

@counter-style square {
	type: repeating;
	glyphs: '\25FE';
	/* '◾' */
	suffix: '';
}

@font-face {

} 

.thumbnail { crop: rect(0px, 115px, 85px, 30px); }
fn { content: counter(footnote, footnotes); }

li {overflow: auto; overflow-style: marquee; marquee-play-count: 0; }
li:focus, li:hover {marquee-play-count: 1; }
li {overflow: auto; overflow-style: marquee-line; white-space: nowrap;}

/* multicol */ 

.multicol { column-width: 8em ;}
.multicol h2 { 
  break-before: column; 
  margin-top: 2em; 
}
.multicol img { 
  break-after: column;
}

body { 
  column-gap: 1em;
  column-rule-width: 1em;
  column-rule-style: solid;
  column-rule-color: black;
  columns: 12em;      
  columns: auto 12em; 
  columns: 2;         
  columns: 2 auto;    
  columns: auto;      
  columns: auto auto; 
 }
