@page 
{
  size: auto; /* auto is the initial value */
  margin: 10%;
}

@page { size: A4 landscape; }

@page { size: 8.5in 11in; /* width height */ }

@page :left { ... }
@page:right { ... }

@page {
  margin-left: 3cm;
}

@page :left {
  margin-left: 4cm;
}

@page LandscapeTable { ... }
@page CompanyLetterHead:first { ... } /*  identifier and pseudo page. */
@page:first { ... }
@page { } /* f=0 g=0 h=0 -> specificity = 0 */
@page :left { } /* f=0 g=0 h=1 -> specificity = 1 */
@page :first { } /* f=0 g=1 h=0 -> specificity = 10 */
@page artsy { } /* f=1 g=0 h=0 -> specificity = 100 */
@page artsy:left { } /* f=1 g=0 h=1 -> specificity = 101 */
@page artsy:first {

} /* f=1 g=1 h=0 -> specificity = 110 */ 


@page { 
  @top-left { ... /* document name */ }
  @bottom-center { ... /* document name */ }   
}

@page :left { @left-middle { ... } }

@page :right { 
  @right-middle { ... }
}

@page :left { @bottom-left-corner { ... } }
@page :right { @bottom-right-corner { ... } }

@page :first { 
  @bottom-left-corner {  }
  @bottom-right-corner {  } 
}

@page :first {
  color: green;

  @top-left {
    content: "foo";
    color: blue;
  }
  @top-right {
    content: "bar";
  }
}

@page {
  @top-left { content: "Header in Left Cell (top-left)"; }
}
@page {
  size: 8.5in 11in;
  margin: 10%;

  @top-left {
    content: "Hamlet";
  }
  @top-right {
    content: "Page " counter(page);
  }
}
@page {
  margin: 10%;
  counter-increment: page;

  @top-center {
    font-family: sans-serif;
    font-weight: bold
    font-size: 2em;
    content: counter(page);
  }
}

body {counter-reset: chapter;}

div.chapter {counter-increment: chapter;}

@page {
  margin: 10%;
  @top-center { 
    content: "Chapter" counter(chapter);
  }

}

@page rotated { size: landscape; }

table { page: rotated; page-break-before: right; }

img.original { 
  image-orientation: auto;
  fit-position:top right;  
  string-set: env(url); 
}

img.zero       { image-orientation: 0; }
img.ninety     { image-orientation: 90deg; }
img.tilt       { image-orientation: -1deg; }

h2 { 
  string-set: header "Chapter " counter(header) ": " content();
  counter-increment: header;
}
@page { @right-middle { content: string(index); }}
@page { @top-left { content: string(entry); } } 
@page { @top-left { content: string(term, first); }}
@page { @top-right { content: string(term, last); } }  
@page { 
  @top-center { content: string(index, first); }
}  
dt { string-set: index content(first-letter), term content(); }
title { position: running(dfd); }

@page { 
  @top-center { content: element(header); } 
}

@page { @top-center { content: element(header, first-except); }}
heading::after { 
  content: leader(dotted); 
}

ul.toc a::after {
  content: leader(". . . ") attr(href, url);
}

a::after { content: "(see page " target-counters( attr(href, url), page, decimal) ")";}

h2 { counter-increment: chapter; }
h3 {  content: target-text(attr(href), content(first-letter) );}
a { content: "Chapter " target-counter( attr(href, url), chapter) 
             ' ("'  target-text(attr(href), content()) '") on page '
             target-counter(attr(href, url), page); }

@footnote { 
  margin-top: 0.5em;
  border-top: thin solid black;
  border-clip: 4em;
  padding-top: 0.5em;
  } 
@page { counter-reset: footnote; }
@page { content: counter(footnote, super-decimal); }
h1:before { content: counter(chapter, ordinal) " chapter"; }

::footnote-call {
    content: counter(footnote, symbols('*', '+', '!')); }

ol { list-style: symbols("*", "\2020", "\2021", "\A7", "#"); }
a { bookmark-label: attr(title, string); }
h1 { bookmark-label: content(); }
h2 { bookmark-label: content(before); }
#frog { bookmark-label: "The green frog"; }
.exable { bookmark-label: url(http://www.example.com); }
* { bookmark-state: closed; }
#open { bookmark-state: open; }

h1 { page-break-before: left; }

@page :blank {
  @top-center { content: "This page is intentionally left blank"; }
}
.figure { 
  float: top next page;
  float: page(dfd);
}
table.wide { 
  float: page(landscape);
}
table.wide { 
  page: landscape;
}
table { 
  float: page(landscape);
  page-break-before: always;
}

@footnote { 
  float: bottom inside multicol; 
}

img { 
  float: top left multicol;
  float-offset: 1.5gr 50%;
  width: 8em;
}

@page {
  counter-reset: footnote;
  @footnote {
    counter-increment: footnote;
    float: page bottom;
    width: 100%;
    height: auto;
  }
}

::footnote-call {
  counter-increment: footnote;
  content: counter(footnote, super-decimal); 
}
::footnote-marker {
  content: counter(footnote, super-decimal); 
}

