FE FF 00 00 @charset "ISO-8859-1";

.♥ 
.𝄞♪♩♫♬
.“‘’”
.\?
.\3A \)
.⌘⌥ 
.\3A \`\(
.\ \37 \35 145a2b3 { }
.f\\o\\o
.f\*o\*o
.\ f\!o\!o
.df
.f\+o\+o{ }
.\<\>\<\<\<\>\>\<\>{ }
.\<p\>{ }
.honey-pie .gffgf { }
.\+\+\+\+\+\+\+\+\+\+\[\>\+\+\+\+\+\+\+\>\+\+\+\+\+\+\+\+\+\+\>\+\+\+\>\+\<\<\<\<\-\]\>\+\+\.\>\+\.\+\+\+\+\+\+\+\.\.\+\+\+\.\>\+\+\.\<\<\+\+\+\+\+\+\+\+\+\+\+\+\+\+\+\.\>\.\+\+\+\.\-\-\-\-\-\-\.\-\-\-\-\-\-\-\-\.\>\+\.\>\. { }
#ff {}

#f:ff_ff\3\31 1.3 {}
/* Pseudo */
a:focus
a:focus:hover {}
a:link    
a:visited 
a:hover   
a:active  
p.note:target {}
*:target { color : red; }
*:target::before { content: url(target.png); }
html:lang(fr-be) {}
html:lang(de) {font:;}

:lang(fr-be) > q
:lang(de) > q
tr:nth-child(2n+1) 
tr:nth-child(odd)  
tr:nth-child(2n+0) 
tr:nth-child(even) 
p:nth-child(4n+1) 
p:nth-child(4n+2) 
p:nth-child(4n+3) 
p:nth-child(4n+4) 
:nth-child(10n-1)  
:nth-child(10n+9)  
:nth-child(3n + 1) { }
:nth-child(3 n)
:nth-child(-n+6)
:nth-child( +6 )
tr:nth-last-child(-n+2)  
tr:nth-last-child(odd)    
body > h2:nth-of-type(n+2):nth-last-of-type(n+2)
body > h2:not(input[type="frank"]):not(:last-of-type)
   
/* Attr */ 
div p *[type="href"]

/* Calc */
p { margin: calc(1 - 2px); }

/* Universal and Namespace Selectors */
foo|h1 
foo|* 
|h1 
*|h1 
h1
ns|*
*|*
|*
*
/* multicol */ 

.multicol { column-width: 8em ;}
.multicol h2 { 
  break-before: column; 
  margin-top: 2em; 
  color: rgb(3,3,3); 
}
.multicol img { 
  break-after: column;
}

body { 
  column-gap: 1em;
  column-rule-width: 1em;
  column-rule-style: solid;
  column-rule-color: black;
  columns: 12em;      
  columns: auto 12em; 
  columns: auto 2;         
  columns: 2 auto;    
  columns: auto;      
  columns: auto auto; 
 }

@namespace toto "http://toto.example.org";
@namespace "http://example.com/foo";
@namespace Q "http://example.com/q-markup";
@namespace lq "http://example.com/q-markup";
@namespace empty "";
@namespace "";
@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

@import "common1.css";
@import "common1.css";
@import "yellowfish.css" "Yellow Fish";
@import "simple.css"     "Simple";
@import "extra.css"      "Yellow Fish";
@import "deco-a.css"     "Budapest";
@import "deco-b.css"     "Budapest";
@import "common2.css";
@import url(layout1.css) screen "Plain style";
@import url(colors1.css) screen "Plain style";
@import url(style4.css) "Four-columns and dark";
@import url(base.css);
@import url("altbase.css") "Reverse video";
@import url("fineprint.css") print;
@import url("bluish.css") projection, tv;
@import url("narrow.css") handheld and (max-width: 400px);


