abbr:lang(ja) { text-transform: full-width; }

@namespace m "http://www.w3.org/1998/Math/MathML";

m|* {
  text-space-collapse: discard;
}

m|h1, m|mn, m|mo, m|ms, m|mtext {
  text-space-collapse: trim-inner;
} 

p { hyphenate-limit-last: always; }
div.chapter {  hyphenate-limit-last: spread; }
LS { letter-spacing: 1em; }
Z { letter-spacing: 0.3em; }
Y { letter-spacing: 0.4em; }

p { /* Flush alignment */
  margin: 0;
  text-indent: 1em;
  text-spacing: trim-start;
}

p { /* Hanging alignment */
  margin: 0;
  text-indent: 1em;
  text-spacing: trim-start;
  hanging-punctuation: first;
}

:link {
    color: blue;
    text-decoration: underline;
    text-decoration: navy dotted underline; /* Ignored in CSS1/CSS2 UAs */
}

